<div class="container">
  <ul>
    <% @lists.each do |list| %>
      <li>
        <%= link_to list.name, list_path(list) %>
        <%= link_to "Delete" , list_path(list), data:{turbo_method: :delete, turbo_confirm: "Are u sure?"} %>
        </li>
    <% end %>
  </ul>
  <%= link_to "Create new", new_list_path %>
</div>
